{{- if .Values.openshift.enabled -}}
apiVersion: security.openshift.io/v1
kind: SecurityContextConstraints
metadata:
  name: {{ default (printf "%s-scc" (include "dra-driver-memory.fullname" .)) .Values.openshift.scc.name }}
  labels:
    {{- include "dra-driver-memory.labels" . | nindent 4 }}
allowPrivilegedContainer: {{ .Values.openshift.scc.allowPrivilegedContainer }}
allowHostDirVolumePlugin: {{ .Values.openshift.scc.allowHostDirVolumePlugin }}
allowHostNetwork: {{ .Values.openshift.scc.allowHostNetwork }}
allowHostPID: {{ .Values.openshift.scc.allowHostPID }}
allowHostPorts: {{ .Values.openshift.scc.allowHostPorts }}
allowHostIPC: {{ .Values.openshift.scc.allowHostIPC }}
readOnlyRootFilesystem: {{ .Values.openshift.scc.readOnlyRootFilesystem }}
runAsUser:
  type: RunAsAny
seLinuxContext:
  type: RunAsAny
fsGroup:
  type: RunAsAny
supplementalGroups:
  type: RunAsAny
volumes:
- hostPath
- secret
- configMap
- emptyDir
users:
- system:serviceaccount:{{ .Release.Namespace }}:{{ include "dra-driver-memory.serviceAccountName" . }}
{{- end }}

